<!DOCTYPE html>
{% load crispy_forms_tags %}
{% block content %}
<nav class="navbar navbar-expand-xl navbar-light bg-dark sticky-top p-2">
    <a class="navbar-brand img-fluid" href="#">  <img src="#" alt="EXPRESS" width="30" height="30"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'Accounts:user_list' %}"> People <span class="sr-only">(current)</span></a>
            </li>
        </ul>
       <form>
  <div class="form-row">
    <div class="col">
      {{form.username|as_crispy_field}}
    </div>
    <div class="col">
      {{form.password|as_crispy_field}}
    </div>
    <div class="col">
      <input type="submit" value="Login" class="btn btn-info btn-sm"> 
    </div>
  </div>
</form>
</div>
</nav>
{% endblock content %}