<!DOCTYPE html>
{% block content %}
<nav class="navbar navbar-expand-md navbar-light bg-dark sticky-top p-1">
    <a class="navbar-brand img-fluid" href="#"> {% if request.user.profile.photo %}
    <img src="{{ request.user.profile.photo.url }}" width="45px" height="45px" class="border rounded-circle">
    {% else %} <i class="fa fa-user"></i> {% endif %} </a>

    <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
                <a class="nav-link" {% if section == 'post_list' %} style="color: #999;" {% endif %}  href="{% url 'posts:post_list' %}" style="color: white;"> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" {% if section == 'dashboard' %} style="color: #999;" {% endif %}  href="{% url 'Accounts:dashboard' %}" style="color: white;"> Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" {% if section == 'people' %} style="color: #999;" {% endif %} style="color: white;" href="{% url 'Accounts:user_list' %}"> Other Users <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="color: white;" href="{% url 'posts:create_post' %}"> Post <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" {% if section == 'most_liked' %} style="color: #999;" {% endif %} style="color: white;" href="{% url 'posts:most_liked' %}"> Most Liked <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span>
        {% if request.user.is_authenticated %}
        <span class="nav-item text-white">
            Welcome {{request.user.first_name|capfirst}} <a href="{% url 'Accounts:logout' %}" class="btn btn-info"> Logout </a>
        </span>
        {% else %}
        <span class="nav-item text-white">
           <a href="{% url 'Accounts:login' %}" class="btn btn-info"> Login </a>
        </span>
        {% endif %}
    </span>
</div>
</nav>
{% endblock content %}