<!DOCTYPE html>
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Password Change
{% endblock title %}

{% block content %}
    <form action="{% url 'Accounts:password_change' %}" method="post">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                    {{form.old_password|as_crispy_field}}
                </div>
                <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                    {{form.new_password1|as_crispy_field}}
                </div>
                <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                    {{form.new_password2|as_crispy_field}}
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="Change" class="btn btn-info btn-sm">
            </div>
        </div>
        {% csrf_token %}
    </form>
{% endblock content %}